*.pt filter=lfs diff=lfs merge=lfs -text
models/yolov8n.pt filter=lfs diff=lfs merge=lfs -text
yolov8n.pt filter=lfs diff=lfs merge=lfs -text
runs/detect/train6/weights/best.pt filter=lfs diff=lfs merge=lfs -text
