# Exclude datasets, documents and large files
*.csv
*.zip
Elephant Fence Monitoring with Computer Vision.docx
data/
incomplete_data/
elephant_fence_env/
*.mp4

# Ignore runs/ but allow train6 weights
runs/
!runs/detect/
!runs/detect/train6/
!runs/detect/train6/weights/
!runs/detect/train6/weights/best.pt

# Exclude log files
*.log

# Exclude temporary files
*.tmp 
*.bak
__pycache__/

# Exclude model checkpoints
*.ckpt 
elephant_fence_env/
